
@use "sass:map";
@use "sass:color";


$colors: (
    "success": #2bff00,
    "error": #f76539,
    "warning": #ffc227,
    "info":  #26d0ff,
    "border": #000 
);

$fonts: (
    "sans-serif": "Arial, sans-serif",
    "serif": "Georgia, seriff"
);


//Setting variables
$y: 5rem;
$x: 1rem;

@mixin padding($top: 0, $right: 0, $down: 0, $left: 0){
    padding: $top $right $down $left;
}

//Styling and nesting
.alerts{
    margin-top: $y;

    div{
        border: solid black;
        margin-top: $x;
        @include padding(1rem, 0, 1rem, 0);
    }

    .success{
        background: map.get($colors, "success");

        &:hover{
            background: color.adjust(map.get($colors, "success"), $lightness: 10%);
        }
    }

    .error{
        background: map.get($colors, "error");

        &:hover{
            background: color.adjust(map.get($colors, "error"), $lightness: 10%);
        }
    }

    .warning{
        background: map.get($colors, "warning");

        &:hover{
            background: color.adjust(map.get($colors, "warning"), $lightness: 10%);
        }
    }

    .info{
        background: map.get($colors, "info");

        &:hover{
            background: color.adjust(map.get($colors, "info"), $lightness: 10%);
        }
    }

    p, i, button{font-size: 20px;}

    p, i{@include padding(0, 1rem, 0, 1rem)}
}